@import './base.css';
#app{
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(26, 26, 26);
}
body{
  background-color: rgb(26, 26, 26);
}
/*Banner*/
.banner-1{
  width: 100%;
  background-size: cover;
  background-position-y: -7vw;
}

.headings{
  color:white;
  font-weight: bold;
  font-size: 4vw;
  line-height: 4vw;
}

.banner-heading-box{
  display:flex;
  width:20vw;
  flex-direction: column;
}

.box-of-banner-heading-boxes{
  padding: 5vw;
  display:flex;
  justify-content: space-between;
}

.banner-label{
  margin:10px;
}

button{
  color:black;
  background-color: white;
  border:0px;
  border-radius: 0.5vw;
  padding:0.8vw;
  font-size:1.5vw;
}button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.356);
}

.logo-box{
  width:5.12vw;
  height:5.12vw;
  margin: 0px 1vw 0px 1vw;
}

.logo-box img{
  width:100%
}
.nav-bar{
  background-color: rgb(12, 12, 12);
  height:5.12vw;
  display:flex;
  align-items:center;
}
.nav-headings{
  color:white;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 10px;
}

.service-content{
  margin: 4vw;
  font-size: 1.3vw;
  display:flex;
  text-align: justify;
}

.service-img-box{
  height:30vw;
  margin-left:4vw;
}
.service-img-box img{
  height:30vw;
}
.why-us-heading{
  color:white;
  font-size: 3vw;
  text-align: center;
  padding-top: 2vw;
}
.why-us{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.why-us-box{
  color:white;
  font-size: 1.2vw;
  display:flex;
  flex-direction: row;
  margin: 1vw;
  max-width: 30vw;
}

.why-us-box img{
  width:48px;
  height: 48px;
}

.footer-nav{
  background-color: rgb(17, 17, 17);
  color:white;
  display:flex;
  flex-direction: row;
  font-size: 1.2vw;
  height:100%;
  justify-content: space-evenly;
}
.footer-nav-col{
  padding: 2vw;
  display:flex;
  flex-direction: column;
}

.footer-nav-col a{
  color:white;
}

.smartphones{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smartphone-card{
  background-color: rgb(34, 34, 34);
  color:rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  max-width: 40vw;
  max-height: 33vw;
  margin: 1vw;
  border-radius: 1vw;
  padding:1vw;
  align-items: center;
  width:30%
}
.smartphone-img-box, .smartphone-img-box img{
  display: flex;
  height:20vw;
  width:auto;
}